@use "sass:map";

$typography-map: (
        "title-large":(
                "line-height": 28px,
                "size": 22px,
                "tracking": 0.5px,
                "weight": 400
        ),
        "display-small":(
                "line-height": 44px,
                "size": 36px,
                "tracking": 0.25px,
                "weight": 400
        ),
        "display-medium":(
                "line-height": 52px,
                "size": 45px,
                "tracking": -0.25px,
                "weight": 400
        ),
        "display-large":(
                "line-height": 64px,
                "size": 57px,
                "tracking": -0.25px,
                "weight": 400
        ),
        "headline-large":(
                "line-height": 40px,
                "size": 32px,
                "tracking": 0.25px,
                "weight": 400
        ),
        "headline-medium":(
                "line-height": 36px,
                "size": 28px,
                "tracking": 0.25px,
                "weight": 400
        ),
        "body-medium":(
                "line-height": 20px,
                "size": 14px,
                "tracking": 0.25px,
                "weight": 400
        ),
        "body-large":(
                "line-height": 24px,
                "size": 16px,
                "tracking": 0.25px,
                "weight": 400
        ),
);


@mixin apply-font($font-style) {
  $font-map: map.get($typography-map, $font-style);

  line-height: map.get($font-map, "line-height");
  font-size: map.get($font-map, "size");
  letter-spacing: map.get($font-map, "tracking");
  font-weight: map.get($font-map, "weight");
}

@mixin typography-title-large {
  @include apply-font("title-large");
}

@mixin typography-display-large {
  @include apply-font("display-large");
}

@mixin typography-display-medium {
  @include apply-font("display-medium");
}

@mixin typography-headline-large {
  @include apply-font("headline-large");
}

@mixin typography-headline-medium {
  @include apply-font("headline-medium");
}

@mixin typography-body-large {
  @include apply-font("body-large");
}

@mixin typography-display-small {
  @include apply-font("display-small");
}

@mixin typography-display-large {
  @include apply-font("display-large");
}

@mixin typography-body-medium {
  @include apply-font("body-medium");
}


:root {
  color-scheme: light dark;

  //light theme colors
  --md-sys-light-primary-container: #CDE5FF;
  --md-sys-light-on-primary-container: #001D32;

  --md-sys-color-background-light: rgb(248 249 255);
  --md-sys-color-on-background-light: rgb(25 28 32);
  --md-sys-color-surface-container-light: rgb(236 238 244);
  --md-sys-color-on-surface-light: rgb(25 28 32);
  --md-sys-color-on-surface-variant-light: rgb(67 71 78);

  //dark theme colors
  --md-sys-dark-primary-container: #090f16;
  --md-sys-dark-on-primary-container: #76c2f8;

  --md-sys-color-background-dark: rgb(17 20 24);
  --md-sys-color-on-background-dark: rgb(225 226 232);
  --md-sys-color-surface-container-dark: rgb(29 32 36);
  --md-sys-color-on-surface-dark: rgb(225 226 232);
  --md-sys-color-on-surface-variant-dark: rgb(195 198 207);

  //theme colors
  --md-sys-color-primary-container: light-dark(var(--md-sys-light-primary-container), var(--md-sys-dark-primary-container));
  --md-sys-color-on-primary-container: light-dark(var(--md-sys-light-on-primary-container), var(--md-sys-dark-on-primary-container));

  --md-sys-color-background: light-dark(var(--md-sys-color-background-light), var(--md-sys-color-background-dark));
  --md-sys-color-on-background: light-dark(var(--md-sys-color-on-background-light), var(--md-sys-color-on-background-dark));
  --md-sys-color-surface-container: light-dark(var(--md-sys-color-surface-container-light), var(--md-sys-color-surface-container-dark));
  --md-sys-color-on-surface: light-dark(var(--md-sys-color-on-surface-light), var(---md-sys-color-on-surface-dark));
  --md-sys-color-on-surface-variant: light-dark(var(--md-sys-color-on-surface-variant-light), var(--md-sys-color-on-surface-variant-dark));

  //main variables
  --title-color: #006399;


  --sidebar-width: 156px;
  --gap: 24px;
  --columns: 12;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  display: grid;
  grid-template-columns: calc(var(--sidebar-width) - var(--gap)) repeat(var(--columns), 1fr) calc(var(--sidebar-width) - var(--gap)); //сделать кальк через общую переменную
  //gap: 24px;
  background-image: url('./images/f6a90cb182a2ace4cb6fbef124c0b2ff.png');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;

  .slogan .container {
    //grid-column-start: 1;
    //grid-column-end: 13;
    //grid-row-start: 3;
    //grid-row-end: 4;

    //background-color: #02476c;
  }
}

section {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/ -1;
  color: var(--md-sys-color-on-surface);
}


.hero-section {
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: min-content;
  column-gap: 24px;
  row-gap: 0;
  width: 100dvw;
  height: 100dvh;

  header {
    height: 100px;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/span 12;
    gap: 24px;
    align-items: center;
    @include typography-title-large;

    .header-container {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;

      &__logo {
        display: grid;
        grid-column: 1 / span 6;
        align-items: center;
      }

      &__nav {
        flex-direction: row;
        grid-column: 7 / span 6;
        place-content: center;

        .nav-list {
          display: flex;
          justify-content: space-between;
          grid-auto-flow: column;
          grid-column: 7 / span 6;
          align-items: center;
          list-style: none;



          .nav-link {
            text-decoration: none;
            color: white;
          }
        }
      }


    }
  }

  .content {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 6;


    .content-container {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / span 6;
      height: calc(100dvh - 100px);
      align-items: center;
      padding: 180px 0 180px;


      &__button {
        display: grid;
        grid-column: 1 / span 6;

        button {

          background-color: #006399;
          border-radius: 16px;
          border: none;
          grid-column: 1 / span 6;
          height: 100px;
          cursor: pointer;
          transition: background-color 0.2s ease;

          span {
            @include typography-display-medium;
            color: white;
          }
        }

        button:active {
          background-color: #02476c;
        }
      }

      &__text {
        display: grid;
        color: white;
        grid-column: 1 / span 6;
        gap: 16px;

        .title {
          @include typography-display-large;
        }

        .text {
          @include typography-headline-large;
        }
      }
    }
  }
}


.interest-report {
  display: grid;
  grid-template-columns: -1/1;
  column-gap: 24px;

  .container {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/span 12;
    align-items: center;
    padding: 100px 0 100px;

    &__image {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / span 5;
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 16px;
      background-size: cover;
      background-position: center;
      background-image: url('https://s3-alpha-sig.figma.com/img/64af/9ae6/66d8a601f727fc4ad3e565f793de4b8d?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SxRVJ0g9MaEcJ288vnAMGO4BdPkL0L1zqzEHfGl954EKNYTQZfJJJBhyLl5JDuG5ZApcxg-Ig7CB4g3vL4l~4c6pDdQfiJDuhOFtMAHAKB9fPBouO6aG0XbzpqP4OLHJHHzk2i3ObGGhpEjDX~3JKpie2B7RuLE0gNCW5xtcZTJS7zQIPgsoMUzZOwSr~uw5YiuokJaRoIaJHRXUaizqW~5PadjR78mNTRWOli9cxwcCrZjQ0yhSEHJuf5DYrPaIZ745VkIchdUoZlnhlWCPPNM7sT2neF2EHmLx-oF2h6h-O8R7kfsouubdG1hcHMfO-6tPaaM-WYI0RgUpYTLmYw__');

    }

    &__text {
      //display: grid;
      grid-template-columns: subgrid;
      grid-column: 7 / span 6;

      .content-container {
        display: grid;
        gap: 16px;

        .title {
          @include typography-headline-medium;
          color: var(--title-color);
        }

        .content {
          @include typography-body-large;
        }
      }
    }
  }

}

.slogan {
  display: grid;
  grid-template-columns: -1/1;
  width: 100dvw; // Полная ширина окна
  background-color: #2F3033;
  column-gap: 24px;

  .container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/span 12;
    align-items: center;
    padding: 100px 0 100px;

    //background-color: aqua;

    &__text {
      //display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / span 12;

      h1 {
        @include typography-display-medium;
        display: grid;
        grid-template-columns: subgrid;
        width: 1128px;
        height: 52px;
        place-items: center;
        color: white;
      }

      .content-container {
        display: grid;
        gap: 16px;


      }
    }
  }

}

.incident {
  display: grid;
  grid-template-columns: -1/1;
  column-gap: 24px;

  .container {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2/span 12;
    align-items: center;
    padding: 100px 0 100px;

    &__image {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 8 / span 5;
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 16px;
      background-size: cover;
      background-position: center;
      background-image: url('https://s3-alpha-sig.figma.com/img/bb1e/a021/06377785276820ebdeacea4c781ec8ad?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZXwC-ACzu8~ztn6PC7ze1m2fAxijZ-ZwfCLIZhpDqnbMKNqdUdXVWpQ3tAkBpWaIKRzfY-o-dhqNM02CVcTYKE82U5aMJaRuJo2zJ73ykvg2-d~q4BPw8l2SR4fCZbCOcJh28X34PtT7I6Kkvgn5LXCOQP6chHw4VF7Jx2DM0U1is4K5Bpn9pgu8XGRNVDLD1DVVTsNUC-toTNWENRtqJipa~NAymmeJfAS9GQRevwdmJDVafDUXRUhBhg9hGOkVNCBfeZtYMaEqV19IGpxqQxq~KenYssy78n5JGdhUpExXlqp2t47z-6vN-Y4jfwJ~MWPCALCtfHrH1gHdI0TMbA__');

    }

    &__text {
      //display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / span 6;

      .content-container {
        display: grid;
        gap: 16px;

        .title {
          @include typography-headline-medium;
          color: var(--title-color);
        }

        .content {
          @include typography-body-large;
        }
      }
    }
  }

}

.footnote {
  display: grid;
  grid-template-columns: -1/1;
  width: 100dvw; // Полная ширина окна
  margin-left: calc(var(--gap) * -1);
  background-color: #2F3033;
  column-gap: 24px;

  .container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 6 / span 8;
    align-items: center;
    padding: 100px 0 100px;

    //background-color: aqua;

    &__text {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;

      p {
        @include typography-body-large;
        display: grid;
        grid-template-columns: subgrid;
        //width: 1128px;
        //height: 52px;
        place-items: center;
        color: white;
      }

      .content-container {
        display: grid;
        grid-column: 1 / -1;
        gap: 16px;


      }
    }
  }


}

.new-beginning {
  display: grid;
  grid-template-columns: -1/1;
  column-gap: 24px;

  .container {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 12;
    align-items: center;
    padding: 100px 0 100px;

    &__image {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / span 5;
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 16px;
      background-size: cover;
      background-position: center;
      background-image: url('https://s3-alpha-sig.figma.com/img/1aad/e643/a3b12fcd939d4bd6c35e9116e519e18e?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CBPLhQJ3sb8aU06Q~nuxA8CDPyeafUQlfgtY8G-6mBkGkSlylVWss-X-aj9RMXamIFmKjXZEbtyu2vBL5iXEaYfUayv08pwHdyoTRDRABhdiQYyfd0ipA8S2cfz917PwPRQkDoeF3R3-77ohU~AgM0Rxbe5Ug7vExQdgCGkMiK-q7LQA3Tz5P9Gvx6NFZRguxnpTRz6r4TotPZMsA2ADQs8Vv6NAAgNZuF6v4LoMT3RoCrDlSlk4A5DfNbyLuenPhTBsvXdWab4Vot6ki5wdNP-Xuftumz6kD95rUU0xIsl6rtC5stVxA2sQPCaA3cNnt5Su8nA8LccaZDfBYCK6Pw__');

    }

    &__text {
      //display: grid;
      grid-template-columns: subgrid;
      grid-column: 7 / span 6;

      .content-container {
        display: grid;
        gap: 16px;

        .title {
          @include typography-headline-medium;
          color: var(--title-color);
        }

        .content {
          @include typography-body-large;
        }
      }
    }
  }


}

.recreation {
  display: grid;
  grid-template-columns: -1/1;
  column-gap: 24px;

  .container {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 12;
    align-items: center;
    padding: 100px 0 100px;

    &__image {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 8 / span 5;
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 16px;
      background-size: cover;
      background-position: center;
      background-image: url('https://s3-alpha-sig.figma.com/img/d1cb/3292/02792b3173f3cb9c1b096c4877d243dd?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BWJ4SvD6Zd8O9INpYosXhzSU9LlkL72KBQStqSNtWKk7kidqZM6Sh~mmA8zxTe0NZobsRngDCrbAHWmneIh-B2JNvXc7QhC4itQRqS2Msp~uS1FVyuSgmMaBO3ACcP4oNrWZVWaKlcmhedo0wbFfN3rgXvnyEAwvpmHDjKB6aJLye~nIwQRXl7cA-V6SLebaDfHpeVNa05KBhkh4n9Cb-tHFDmTF8yPMuHDxV9qXk~8PK9QiiWbyjWXVfu~c9PKDpVoCJShuNh4t0ff1K2aSELP7m~pjvuOIPkZ0iUnvL5HVGC7wUy9qAjm-V7LNW9pFt5gJhFWvBnINxcBpy2FoFA__');

    }

    &__text {
      //display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / span 6;

      .content-container {
        display: grid;
        gap: 16px;

        .title {
          @include typography-headline-medium;
          color: var(--title-color);
        }

        .content {
          @include typography-body-large;
        }
      }
    }
  }

}

.application {
  display: grid;
  grid-template-columns: -1/1;
  column-gap: 24px;

  .main-container {

    display: grid;
    row-gap: 50px;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    padding: 100px 0 100px;
    background-color: var(--md-sys-color-primary-container);
    .container {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 2 / span 12;
      row-gap: 50px;

      &__image {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / span 5;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 16px;
        background-size: cover;
        background-position: center;
        background-image: url('https://s3-alpha-sig.figma.com/img/8b60/af22/f02d84ebb8b268ddabe0443886678db9?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bg9JIYm6TgcJhrGddtSfVsOlNRX3N5G5LrX5drTvIqxk2JfCKGqyfRduiFARqeeSYsNt3NZf8P87cjm35WhAgMo~kpfTNeWXQ0priFs1oJifVkSduEnIwQOLF1yDIcHTTu9452dZidhUspCSa3fEtunibIC0a7kTzurLW8uCkTzq2Av7UzXj~JO2PMzmqpfOgQNMYW0JnwEi~RwgTt0EGyFL0bRYW3YBHG~iEeDvIcgRhOSe-PE8viaXBRjDuCQIxZ4OpTmCpWh4xQS8atpaOaNWdwn5dkMaKYkmp8yIvx69OoT4bCIG1G92Ia8eDlgTlYNkI5N~4s-9fvXAOdoBUQ__');

      }

      &__text-right {
        //display: grid;
        grid-template-columns: subgrid;
        grid-column: 7 / span 6;

        .content-container {
          display: grid;
          gap: 16px;

          .title {
            @include typography-headline-medium;
            color: var(--title-color);
          }

          .content {
            @include typography-body-large;
          }
        }
      }

      &__text-left {
        //display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / span 6;

        .content-container {
          display: grid;
          gap: 16px;

          .title {
            @include typography-headline-medium;
            color: var(--title-color);
          }

          .content {
            @include typography-body-large;
          }
        }
      }
    }
  }


}

.help {
  display: grid;
  grid-template-columns: -1/1;
  column-gap: 24px;

  .container {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 12;
    align-items: center;
    padding: 100px 0 100px;

    &__image {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 8 / span 5;
      width: 100%;
      height: 100%;
      margin: 0;
      border-radius: 16px;
      background-size: cover;
      background-position: center;
      background-image: url('https://s3-alpha-sig.figma.com/img/5265/b80c/4b87bae3c9f44ff369b80d9ef2ae1e5a?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TXjSr3nHP900e96aT~PBZY5H3dqmNGhfvjWlqWA2U85L8lJk92VoTvfBdW0c63whJKskD9X3EFssPGf~qYhJe1SbFx8MD~16G~zYK12ec4DOL1ceGE~Pc3nI5eMxdcCelc7lHaZp44osOW7kgPAjkyMAPU~e90-aDhnd7FtJB6~T8URjcD56c4DMSs4LOhRgQCwjl3VOgTKLxIOGmHC6KmQAwirk2piHm-i2wWl5VYlM~s4wnVT2BV9p7LUhMOiSZmYWMM7rDEpNbRs0Mbs8K61WX462humOJS3NC0RniTqOWMCSF5FMLBHUHtDCpvSGP33jG2aPajhkADB2cFLqiA__');

    }

    &__text {
      //display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / span 6;

      .content-container {
        display: grid;
        gap: 16px;

        .title {
          @include typography-headline-medium;
          color: var(--title-color);
        }

        .content {
          @include typography-body-large;
        }
      }
    }
  }

}

.slogan-blue {
  display: grid;
  grid-template-columns: -1/1;
  background-color: var(--md-sys-color-primary-container);
  column-gap: 24px;

  .container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 12;
    align-items: center;
    padding: 100px 0 100px;

    //background-color: aqua;

    &__text {
      //display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / span 12;

      h3 {
        @include typography-display-small;
        display: grid;
        grid-template-columns: subgrid;
        width: 1128px;
        height: 52px;
        place-items: center;
        color: var(--md-sys-color-on-primary-container);
      }

      h2 {
        @include typography-display-medium;
        display: grid;
        grid-template-columns: subgrid;
        width: 1128px;
        height: 52px;
        place-items: center;
        color: var(--md-sys-color-on-primary-container);
      }

      h1 {
        @include typography-display-large;
        display: grid;
        grid-template-columns: subgrid;
        width: 1128px;
        height: 52px;
        place-items: center;
        color: var(--md-sys-color-on-primary-container);
      }

      .content-container {
        display: grid;
        gap: 16px;


      }
    }
  }

}

.slogan-button {
  display: grid;
  grid-template-columns: -1/1;
  width: 100dvw; // Полная ширина окна
  background-color: #2F3033;
  column-gap: 24px;

  .container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;
    height: 200px;
    //padding: 100px 0 100px;

    //background-color: aqua;


    .content-container {
      display: grid;
      gap: 16px;
      grid-template-columns: subgrid;
      grid-column: 5 / span 6;
      align-items: center;


      &__button {
        display: grid;
        grid-column: 1 / -1;

        button {

          background-color: #006399;
          border-radius: 16px;
          border: none;
          grid-column: 1 / span 6;
          height: 100px;
          cursor: pointer;
          transition: background-color 0.2s ease;

          span {
            @include typography-display-medium;
            color: white;
          }
        }

        button:active {
          background-color: #02476c;
        }
      }
    }
  }

}


.weyland-logo {
  display: grid;
  grid-template-columns: -1/1;
  column-gap: 24px;

  .container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 12;
    align-items: center;
    height: 100%;
    padding: 93px 0 93px;
    //padding: 100px 0 100px;

    //background-color: aqua;


    .content-container {
      display: grid;
      gap: 16px;
      grid-template-columns: subgrid;
      grid-column: 4 / span 6;
      align-items: center;
      justify-items: center;


      &__logo {
        display: grid;
        grid-column: 1 / span 6;


      }
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/ -1;
  background-color: #2F3033;
  column-gap: 24px;

  .container {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 12;
    align-items: center;
    //padding: 100px 0 100px;

    //background-color: aqua;

    .content-container {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 9 / span 4;


      &__text {
        display: flex;
        flex-direction: column;
        grid-column: 1/-1;
        height: 150px;
        grid-template-columns: subgrid;
        justify-content: center;
        p {
          @include typography-body-medium;
          //display: grid;
          //grid-template-columns: subgrid;

          //place-items: left;
          color: white;
          //grid-column: 10 / span 3;
          //align-items: center
        }

      }
    }
  }

}

